
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 17px;
    color: rgb(40, 55, 126);
    text-transform: uppercase;
    font-weight: 500;
}

.banner {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
}

.banner-content {
    min-height: 90vh;
    align-items: center;
    color: white;
}

.banner h1 {
    font-size: 50px;
    font-family: montserrat;
    font-weight: bold;
    text-transform: uppercase;
}

.banner_icon {
    position: absolute;
    left: 50%;
    top: 75%;
    font-size: 30px;
    transform: translate(-50%, -25%);
    animation: 2s linear 0s infinite alternate none running updawn;
}

@keyframes updawn {
    0% {
        top: 75%;
    }

    100% {
        top: 80%;
    }
}

.who_we_are {
    padding: 70px 0px;
}

.who_we_are span {
    display: block;
    background-color: rgb(241, 90, 40);
    height: 4px;
    width: 60px;
    margin-bottom: 15px;
}

.who_we_are h1 {
    text-transform: uppercase;
    color: rgb(32, 79, 135);
    font-family: montserrat;
    font-size: 30px;
}

.who_we_are p {
    font-size: 16px;
    color: rgb(176, 176, 177);
}

.what_we_do {
    padding: 54px;
    background-image: url("../images/Banner-2.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 70%;
    background-color: rgb(247, 248, 248);
}

.what_we_do span {
    display: block;
    background-color: rgb(241, 90, 40);
    height: 4px;
    width: 60px;
    margin: auto;
}

.what_we_do h1 {
    text-transform: uppercase;
    color: rgb(32, 79, 135);
    font-family: montserrat;
    font-size: 30px;
    padding: 24px 0px 3px;
}

.items {
    margin-top: 50px;
    position: relative;
}

.items::before {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(46, 49, 132, 0) 0%, rgb(46, 49, 132) 90%, rgb(46, 49, 132) 100%);
    transition: all 0.5s ease-in-out 0s;
}

.items:hover::before {
    height: 100%;
}

.content {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.items:hover .content {
    opacity: 1;
    top: 50%;
}

.content h2 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: montserrat;
    font-weight: bold;
    text-transform: uppercase;
}

.icon {
    position: absolute;
    right: 50%;
    top: 80%;
    transform: translate(-50%, -20%);
    color: white;
    font-size: 25px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.items:hover .icon {
    opacity: 1;
    right: 45%;
}

.Our_attorneys {
    background-image: url("../images/attorneys BG.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 80px 0px 30px;
}

.attorneys_content {
    margin-top: 75px;
}

.attorneys_content span {
    display: block;
    background-color: rgb(241, 90, 40);
    height: 4px;
    width: 60px;
    margin-bottom: 15px;
}

.attorneys_content h1 {
    color: white;
    font-size: 30px;
    font-family: montserrat;
    font-weight: bold;
}

.attorneys_content p {
    font-size: 16px;
    color: rgb(146, 157, 207);
}

.attorneys_content h5 {
    color: rgb(241, 90, 40);
    font-size: 20px;
    font-family: montserrat;
}

.attorney_items {
    position: relative;
    margin-bottom: 40px;
}

.items_heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.items_heading h1 {
    font-size: 24px;
    font-family: montserrat;
    font-weight: bold;
}

.attorney_items:hover .items_heading {
    opacity: 1;
    top: 45%;
}

.attorney_items::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 0%;
    opacity: 0;
    background: linear-gradient(rgba(46, 49, 132, 0) 0%, rgb(46, 49, 132) 90%, rgb(46, 49, 132) 100%);
    transition: all 0.4s ease-in-out 0s;
}

.attorney_items:hover::before {
    opacity: 1;
    height: 100%;
}

.the_languages {
    margin-bottom: 55px;
}

.language_content {
    padding: 70px 0px;
}

.language_content span {
    display: block;
    background-color: rgb(241, 90, 40);
    height: 4px;
    width: 60px;
    margin: auto;
}

.language_content h1 {
    text-transform: uppercase;
    color: rgb(32, 79, 135);
    font-family: 'montserrat';
    font-size: 30px;
    padding: 24px 0px 3px;
    text-align: center;
}

.language_variant {}

.language_variant h1 {
    text-transform: uppercase;
    color: rgb(32, 79, 135);
    font-family: montserrat;
    font-size: 25px;
    padding: 24px 0px 3px;
}

.language_variant p {
    color: rgb(176, 176, 177);
    text-align: left;
    FONT-SIZE: 16px;
}

.language_variant h5 {
    color: rgb(241, 90, 40);
    font-size: 16px;
    font-family: montserrat;
}

.contact_us {

    padding: 80px 0 0 0;

    background-color: #36226f;
}

.contact_us span {

    display: block;

    background-color: rgb(241, 90, 40);

    height: 4px;

    width: 60px;

    margin: auto;
}

.contact_us h1 {

    color: #fff;

    text-transform: uppercase;

    font-family: 'montserrat';

    font-size: 30px;

    text-align: center;

    padding: 20px;
}

.contact_us input {

    margin-bottom: 15px;

    border: none;

    background: transparent !important;

    border-bottom: 1px solid #084298;

    outline: none;
    color: #fff;
}

form {

}


form input:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #084298;
    border-color: #084298 !important;
}

.contact_us form input[type="submit"] {
    background-color: #f15b2a !important;
    color: #fff;
    padding: 5px 30px;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact_us form input::placeholder{
    color: white;
}